<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Categories</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body>
        <div>
            <form method="POST" class="signup-form">
                <h1>Edit Categories</h1>

                <div class="form-input-material">
                     <!-- <label for="email">Email</label> -->
                    <input type="text" name="category" class="form-control-material" placeholder="New Category">
                </div>

                <input type="submit" value="Add">
                <br>
                <a href="dashboard.html">Back to Home</a>
            </form>
        </div>
    </body>
</html>