<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body>
        <div>
            <form method="POST" class="signup-form">
                
                <h1>Sign Up</h1>

                <div class="form-input-material">
                     <!-- <label for="email">Email</label> -->
                    <input type="text" name="email" class="form-control-material" placeholder="Email">
                </div>

                <div class="form-input-material">
                    <!-- <label for="username">Username</label> -->
                    <input type="text" name="username" class="form-input-material" placeholder="Username">
                </div>

                <div class="form-input-material">
                    <!-- <label for="password">Password</label> -->
                    <input type="password" name="password" class="form-input-material" placeholder="Password">
                </div>

                <div class="form-input-material">
                    <!-- <label for="passwordConfrmation">Password Confirmation</label> -->
                    <input type="password" name="passwordConfirmation" class="form-input-material" placeholder="Password Confirmation">
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </body>
</html>